<div class="login-page">
  <div class="card">
    <h1>Connexion</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="field">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          autocomplete="username"
          [class.invalid]="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
        />

        @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')) {
          <p class="field-error">Email requis</p>
        }
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')) {
          <p class="field-error">Email invalide</p>
        }
      </div>

      <div class="field">
        <label for="password">Mot de passe</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          autocomplete="current-password"
          [class.invalid]="loginForm.get('password')?.touched && loginForm.get('password')?.invalid"
        />

        @if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
          <p class="field-error">Mot de passe requis</p>
        }
      </div>

      <button class="btn full-width margin-top-button" type="submit" [disabled]="loginForm.invalid || loading()">
        {{ loading() ? 'Connexion…' : 'Se connecter' }}
      </button>
      <div class="footer">
        <span>Pas encore de compte ?</span>
        <button class="link" type="button" (click)="goRegister()">
          Cliquez ici
        </button>
      </div>
      @if (errorMessage()) {
        <p class="form-error">{{ errorMessage() }}</p>
      }
    </form>
    
  </div>
</div>