.main-nav-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: var(--color-text-primary);
}

.main-nav-bar.centered{
    justify-content: center;
}
.nav-button{
    height: 40px;
    width: 40px;
}



