<div class="main-nav-bar" [class.centered]="!isLoggedIn()">
    @if(isLoggedIn()){
        <button routerLink="home" class="btn btn-square nav-button">
        <mat-icon>home</mat-icon>
        </button>
    }
    <h1>MealForge</h1>
    @if(isLoggedIn()){
        <button matButton [matMenuTriggerFor]="menu" class="btn btn-square nav-button"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="btn full-width" (click)="goShoppingList()">Liste de courses</button>
                <button mat-menu-item class="btn full-width" routerLink="recipe/favorite" >Recettes favorites</button>
                <button mat-menu-item class="btn full-width" routerLink="pantry-item">Ingrédients à la maison</button>
                <button mat-menu-item class="btn full-width" routerLink="ingredient-list">Voir tous les ingrédients</button>
                <button mat-menu-item class="btn full-width" routerLink="">Mon compte</button>
                <button mat-menu-item class="btn full-width" (click)="logout()">Déconnexion</button>
            </mat-menu>
    }
</div>
