.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-bg-surface);
    color: var(--color-text-primary);
    padding: 15px;
    height: 45px;
}

.main.centered{
    justify-content: center;
}
.nav-button{
    height: 45px;
    width: 45px;
}

