<div class="main-nav-bar" [class.centered]="!isLoggedIn()">
    @if(isLoggedIn()){
        <button routerLink="home" class="btn btn-square nav-button">
        <mat-icon>home</mat-icon>
        </button>
    }
    <h1>MealForge</h1>
    @if(isLoggedIn()){
        <button matButton [matMenuTriggerFor]="menu" class="btn btn-square nav-button"><mat-icon>menu</mat-icon></button>
            <mat-menu #menu="matMenu" class="mf-menu">
                <button mat-menu-item (click)="goShoppingList()">Liste de courses</button>
                <button mat-menu-item routerLink="recipe/favorite" >Recettes favorites</button>
                <button mat-menu-item routerLink="pantry">Ingrédients à la maison</button>
                <button mat-menu-item routerLink="recipe/search">Chercher une recette</button>
                <button mat-menu-item (click)="logout()">Déconnexion</button>
            </mat-menu>
    }
</div>
