
<div class="day">
  @for (t of [1,2,3]; track t) {
    <div class="slot">
      <h3>{{ label(t) }}</h3>

      @if (slot(t); as s) {
        <div class="slot__recipe">
          <div class="title">{{ s.recipeTitle }}</div>
          <div class="meta">
            Prep: {{ s.prepTime }} min •
            Cook: {{ s.cookTime }} min •
            Portions: {{ s.portion }}
          </div>
        </div>
      } @else {
        <div class="slot__empty">Aucune recette</div>
      }
    </div>
  }
</div>
